/app/config/parameters.yml
/bin/*
!/bin/console
!/bin/symfony_requirements
/phpunit.xml
/node_modules
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/imports
/var/imports/*
!var/imports/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/vendor/
.env
