<?php

namespace Deployer;

/**
 * Example host configuration
 *
 * https://deployer.org/docs/hosts
 */
host('hostname')
    ->set('deploy_path', '~/')
    ->set('clear_paths', false)
    ->set('bin/php', 'php')
    ->forwardAgent()
    ->stage('prod')
;
