{% extends 'base.html.twig' %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-bordered">
            {% set date = null %}
            {% for operation in operations %}

                {% if date is null or date != operation.date %}
                    {% set date = operation.date %}
                    <tr class="active">
                        <th colspan="2">{{ operation.date | date('d.m.Y') }}</th>
                    </tr>
                {% endif %}
                <tr>
                    <td><a href="{{ path('operation_edit', {'id': operation.id }) }}" class="center-block">{{ operation.name }}</a></td>
                    <td class="text-right">{{ operation.amount | number_format(2, '.', ',') }} zł</td>
                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}
