{% extends '::base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form(form, {attr: {'class':'form-inline'}}) }}
        </div>
    </div>

{% endblock %}

